<h2>Course Listing Details</h2>
<input type="text" placeholder="enter courName || id"(input)="searchValue($event)">
<table>
  <tr>
    <th>Course ID</th>
    <th>Course Name</th>
    <th>Enrollment Count</th>
    <th>Status</th>
    <th>Publish Date</th>
    <th>Category</th>
    <th>Fees</th>
    <th>Mobile</th>
    <th>Email</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th colspan="3">Action</th>
  </tr>
  <tr *ngFor="let list of  filtered$ | async">
    <td>{{ list.id }}</td>
    <td>{{ list.courseName }}</td>
    <td>{{ list.enrollmentCount }}</td>
    <td>{{ list.status}}</td>
    <td>{{ list.publishDate }}</td>
    <td>{{ list.category }}</td>
    <td>₹ {{ list.fees }}</td>
    <td>{{ list.mobile }}</td>
    <td>{{ list.email }}</td>
    <td>{{ list.startD }}</td>
    <td>{{ list.endD }}</td>
    <td><a routerLink="/getListing/deleteList/{{list.id}}">delete</a></td>
    <td><a [routerLink]="['/getListing/getListById', list.id]">View</a></td>
    <td><a routerLink="/addListing/{{list.id}}">update</a></td>
  </tr>
</table>