<!-- <p>update works!</p> -->
<form [formGroup]="listForm" (ngSubmit)="onSubmit()">
    <label>Title: </label>
    <input type="text" formControlName="title">
    <div *ngIf="f['title'].errors && f['title'].touched">
        <small *ngIf="f['title'].errors['required']">Title is required</small>
    </div>
    <br><br>

    <label>Agent: </label>
    <input type="text" formControlName="agent">
    <div *ngIf="f['agent'].errors && f['agent'].touched">
        <small *ngIf="f['agent'].errors['required']">Agent is required</small>
        <small *ngIf="f['agent'].errors['dupAgent']">Agent already Exist</small>
    </div>
    <br><br>

    <label>Description: </label><br>
    <textarea type="text" formControlName="description"></textarea>
    <div *ngIf="f['description'].errors && f['description'].touched">
        <small *ngIf="f['description'].errors['required']">Description is required</small>
    </div>
    <br><br>
    
    <label>Area: </label>
    <input type="text" formControlName="area">
    <div *ngIf="f['area'].errors && f['area'].touched">
        <small *ngIf="f['area'].errors['required']">Agent is required</small>
        <small *ngIf="f['area'].errors['min'] || f['area'].errors['max']">Area must be between 1 to 1000</small>
    </div>
    <br><br>

    <label>PropertyType:</label>
    <select formControlName="propertyType">
        <option value="">Select a property</option>
        <option *ngFor="let type of propertyType" value="type">{{type}}</option>
    </select>
    <div *ngIf="f['propertyType'].errors && f['propertyType'].touched">
        <small *ngIf="f['propertyType'].errors['required']">PropertyType is required</small></div>
   <br><br>

    <label>Rating: </label>
    <input type="text" formControlName="userRating">
    <div *ngIf="f['userRating'].errors && f['userRating'].touched">
        <small *ngIf="f['userRating'].errors['required']">Rating is required</small>
        <small *ngIf="f['userRating'].errors['min'] || f['userRating'].errors['max']">Rating must be between 1 to 5</small>
    </div>
    <br><br>
    <label>Email: </label>
    <input type="text" formControlName="email">
    <div *ngIf="f['email'].errors && f['email'].touched">
        <small *ngIf="f['email'].errors['required']">Email is required</small>
        <small *ngIf="f['email'].errors['pattern'] ">Email invalid format</small>
    </div>
    <br><br>
    <label>Mobile: </label>
    <input type="text" formControlName="mobile">
    <div *ngIf="f['mobile'].errors && f['mobile'].touched">
        <small *ngIf="f['mobile'].errors['required']">Mobile No is required</small>
        <small *ngIf="f['mobile'].errors['pattern'] ">Mobile invalid format</small>
    </div>
    <br><br>

    <label>InquiryCount: </label>
    <input type="text" formControlName="inquiryCount">
   <br><br>
   <p>{{edit}}</p>
   
<button type="submit" [disabled]="listForm.invalid">
   Update
  </button>

   <!-- <button [disabled]="!listForm.valid">Register</button> -->
   <div *ngIf="showAlert">{{successMessage}}</div>

</form>
